[user]
    name = connerohnesorge
    email = conneroisu@outlook.com

[push]
    autoSetupRemote = true

[pull]
    rebase = true

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[init]
	defaultBranch = main
[safe]
	directory = /home/connerohnesorge/dotfiles
