.oh-my-zsh/
.DS_Store
._*
.oh-my-zsh
.config/obsidian/Cache/*
.config/obsidian/Cache/
.config/obsidian/Code Cache/
.config/obsidian/Code Cache/*
.config/obsidian/IndexedDB/
.config/obsidian/IndexedDB/*
.config/obsidian/GPUCache/
.config/obsidian/GPUCache/*
.config/obsidian/DawnCache/
.config/obsidian/DawnCache/*
.config/obsidian/Service Worker/CacheStorage/
.config/obsidian/Service Worker/CacheStorage/*
.config/obsidian/Service Worker/ScriptCache/
.config/obsidian/Service Worker/ScriptCache/*
.vscode-insiders/
HyprPanel/
./.config/ags/
# Devenv
.devenv*
devenv.local.nix
.devenv

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
